<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Серый для первого звена -->
  <material name="grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <!-- Синий для второго звена -->
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <!-- Можно добавить другие материалы, например, для основания -->
  <material name="black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>
</robot>